@media (max-width: 1150px) {

  .header {

    & .logo {
      width: 115px;
    }
  }

  .section-form {

    & :where(.title, .title span) {
      font-size: 3.4rem;
    }
  }
}

@media (max-width: 1024px) {

  .main {
    grid-template-columns: 1fr .9fr;
    padding-left: 5%;
  }

  .section-form {

    & :where(.title, .title span) {
      font-size: 3rem;
    }

    & .description {
      font-size: .8rem;
    }
  }
}

@media (max-width: 768px) {

  body {
    height: auto;
  }

  .main {
    height: auto;
    grid-template-columns: 1fr;
    padding-left: 0;

  }

  .section-content {
    width: 80%;
    height: auto;
    margin-inline: auto;
    align-items: center;
    text-align: center;
    padding-block: 3.5rem;
    gap: 2.8rem;
  }
  
  .header {
    align-self: flex-start;

    & .logo {
      width: 120px;
    }
  }

  .section-image-mobile {
    width: 100%;
    height: auto;

    & .image-woman {
      position: inherit;
      height: auto;
    }
  }

  .section-form {

    & :where(.title, .title span) {
      font-size: 3.3rem;
    }

    & :where(.title, .title span, .description) {
      text-align: center;
    }
  }
}

@media (max-width: 568px) {

  .section-content {
    width: 100%;
  }

  .header {
    margin-left: 10%;

    & .logo {
      width: 100px;
    }
  }

  .section-form {

    & :where(.title, .title span) {
      font-size: 2.8rem;
    }
  }
}

@media (max-width: 375px) {

  .section-content {
    gap: 2rem;
  }

  .header {

    & .logo {
      width: 90px;
    }
  }
  
  .section-form {
    
    & :where(.title, .title span) {
      font-size: 2.3rem;
    }

    & .description {
      margin-inline: auto;
      width: 80%;
    }

    & input {
      width: 80%;
    }

    & button {
      width: 65px;
    }

    & .error {
      margin-inline: auto;
      width: 80%;
    }
  }
}